// Colours //
// peach: #FF7865
// pineGreen: #0F5441
// oceanBlue: #204C63
// burgundy: #6D475A
// yellow: #FFD779
// gray: #7a7a7a


// Fonts //
@font-face{
    font-family:"Proxima N W01";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/proxima-nova-regular.woff2") format("woff2"),
    url("fonts/proxima-nova-regular.woff") format("woff");
}
@font-face{
    font-family:"Proxima N W01";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/proxima-nova-bold.woff2") format("woff2"),
    url("fonts/proxima-nova-bold.woff") format("woff");
}
@font-face{
    font-family:"Proxima N W01";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/proxima-nova-extrabold.woff2") format("woff2"),
    url("fonts/proxima-nova-extrabold.woff") format("woff");
}

// Variables
$peach: #ff7865;
$pineGreen: #0f5441;
$oceanBlue: #204c63;
$burgundy: #6d475a;
$yellow: #ffd779;
$gray: #7a7a7a;
$black: #3d3d3c;

// Mixins

@mixin fontAssignment($fontWeight, $fontSize) {
    font-family: "Proxima N W01";
    font-weight: $fontWeight;
    font-size: $fontSize;
}

// Assignment Styles //

@import 'setup';

body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding-top: 20px;

    .w-container div {
        display: flex;
        justify-content: space-between;
    
        nav ul {
            margin-top: 0;
    
            li {
                list-style-type: none;
                float: left;
                @include fontAssignment(400, 16px);
                margin-right: 15px;

                &:last-of-type {
                    margin-right: 0;
                }
    
                a {
                    text-decoration: none;
                    color: $gray;
                }
            }
        }
    
        .js-nav-toggle {
            display: none;
        }
    }
}

main {
    margin-top: 15px;

    h1 {
        @include fontAssignment(800, 65px);
        color: $peach;

        span {
            display: block;
            color: $pineGreen;
        }
    }

    .hero-header {
        background-image: url('../images/lp-start-hero-comp.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        padding-top: 90px;
        padding-bottom: 90px;
        margin-bottom: 30px;

        p {
            @include fontAssignment(400, 20px);
            width: 450px;
            color: $black;
        }
    }

    .most-popular {
        @include fontAssignment(700, 12px);
        text-transform: uppercase;
        
        span {
            display: inline-block;
            background: $yellow;
            padding: 10px 15px;
        }
    }

    .pricing {
        background: url('../images/blood-tests-bg.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: bottom center;

        .show-all {
            margin-top: 40px;
            text-align: center;

            a {
                display: inline-block;
                margin-bottom: 40px;
                text-decoration: none;
                color: $peach;
                padding-bottom: 7px;
                @include fontAssignment(400, 18px);
                border-bottom: 1px solid $peach;
            }
        }
    }

    .pricing .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        .box {
            background: white;
            text-align: center;

            p, a {
                color: white;
                text-decoration: none;
            }

            h3 {
                margin: 0;
                @include fontAssignment(400, 20px);
            }

            p {
                @include fontAssignment(700, 30px);
                margin: 0;
                margin-top: 10px;
            }
            
            h3, p, ul li, .most-popular {
                text-align: left;
            }

            &--header {
                padding: 20px;
                margin-bottom: 40px;
            }

            ul {
                margin-top: 25px;
                margin-left: 10px;
                
                li {
                    list-style-image: url('../images/checkmark.png');
                    @include fontAssignment(400, 18px);
                    margin-bottom: 20px;
                    padding-right: 20px;
                    line-height: 1.5;
    
                    a {
                        color: $peach;
                    }
                }
            } 
            
        }

        .box1 {
            &--header {
                background: $burgundy;
            }

            button {
                background: none;
                border: 2px solid $burgundy;
                border-radius: 30px;
                color: $burgundy;
                padding-top: 10px;
                padding-bottom: 10px;
                @include fontAssignment(700, 18px);
                text-transform: uppercase;
                width: 90%;
                margin-top: 15px;

                + a {
                    color: $burgundy;
                    display: block;
                    @include fontAssignment(700, 14px);
                    text-transform: uppercase;
                    margin: 20px 0 30px;
                }
            }
        }

        .box2 {
            &--header {
                background: $oceanBlue;
            }

            button {
                background: none;
                border: 2px solid $oceanBlue;
                border-radius: 30px;
                color: $oceanBlue;
                padding-top: 10px;
                padding-bottom: 10px;
                @include fontAssignment(700, 18px);
                text-transform: uppercase;
                width: 90%;
                margin-top: 41px;

                + a {
                    color: $oceanBlue;
                    display: block;
                    @include fontAssignment(700, 14px);
                    text-transform: uppercase;
                    margin: 20px 0;
                }
            }
        }

        .box3 {
            &--header {
                background: $pineGreen;
            }

            button {
                background: none;
                border: 2px solid $pineGreen;
                border-radius: 30px;
                color: $pineGreen;
                padding-top: 10px;
                padding-bottom: 10px;
                @include fontAssignment(700, 18px);
                text-transform: uppercase;
                width: 90%;
                margin-top: 69px;

                + a {
                    color: $pineGreen;
                    display: block;
                    @include fontAssignment(700, 14px);
                    text-transform: uppercase;
                    margin: 20px 0;
                }
            }
        }

        .box2, .box3 {
            &--header {
                margin-top: 34px;
            }
        }
    }

    .lp-section {
        text-align: center;
        margin: 150px 0;

        img {
            display: inline-block;
        }

        &--image {
            margin-bottom: 20px;
        }

        h3 {
            @include fontAssignment(700, 34px);
            color: $pineGreen;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        p {
            @include fontAssignment(400, 18px);
            width: 250px;
            margin: 0 auto;
        }
    }
}