// Colours //
// peach: #FF7865
// pineGreen: #0F5441
// oceanBlue: #204C63
// burgundy: #6D475A
// yellow: #FFD779
// gray: #7a7a7a


// Fonts //
@font-face{
    font-family:"Proxima N W01";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/proxima-nova-regular.woff2") format("woff2"),
    url("fonts/proxima-nova-regular.woff") format("woff");
}
@font-face{
    font-family:"Proxima N W01";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/proxima-nova-bold.woff2") format("woff2"),
    url("fonts/proxima-nova-bold.woff") format("woff");
}
@font-face{
    font-family:"Proxima N W01";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/proxima-nova-extrabold.woff2") format("woff2"),
    url("fonts/proxima-nova-extrabold.woff") format("woff");
}

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Assignment Styles //

@import 'setup';

body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding-top: 20px;

    .w-container div {
        display: flex;
        justify-content: space-between;
    
        nav ul {
            margin-top: 0;
    
            li {
                list-style-type: none;
                float: left;
                @include fontAssignment(400, 16px);
                margin-right: 15px;

                &:last-of-type {
                    margin-right: 0;
                }
    
                a {
                    text-decoration: none;
                    color: $gray;
                }
            }
        }
    
        .js-nav-toggle {
            display: none;
        }
    }
}

main {
    margin-top: 15px;

    h1 {
        @include fontAssignment(800, 65px);
        color: $peach;

        span {
            display: block;
            color: $pineGreen;
        }
    }
    
    .slick-list {
        line-height: 1.5;
        padding-bottom: 40px;
    }

    .slick-dots li button::before {
        color: lighten($peach, 20);
        font-size: 10px;
    }

    .slick-dots li.slick-active button::before {
        color: $peach;
        border: 1px solid $peach;
        border-radius: 50%;
        background-clip: content-box;
    }

    .hero-header {
        background-image: url('../images/lp-start-hero-comp.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        padding-top: 90px;
        padding-bottom: 90px;
        margin-bottom: 30px;

        p {
            @include fontAssignment(400, 20px);
            width: 450px;
            color: $black;
        }
    }

    .most-popular {
        @include fontAssignment(700, 12px);
        text-transform: uppercase;
        
        span {
            display: inline-block;
            background: $yellow;
            padding: 10px 15px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    .pricing {
        background: url('../images/blood-tests-bg.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: bottom center;

        .show-all {
            margin-top: 40px;
            text-align: center;

            a {
                display: inline-block;
                margin-bottom: 40px;
                text-decoration: none;
                color: $peach;
                padding-bottom: 7px;
                @include fontAssignment(400, 18px);
                border-bottom: 1px solid $peach;
            }
        }
    }

    .pricing .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        .box {
            background: white;
            text-align: center;

            p, a {
                color: white;
                text-decoration: none;
            }

            h3 {
                margin: 0;
                @include fontAssignment(400, 20px);
            }

            p {
                @include fontAssignment(700, 30px);
                margin: 0;
                margin-top: 10px;
            }
            
            h3, p, ul li, .most-popular {
                text-align: left;
            }

            &--header {
                padding: 20px;
                margin-bottom: 40px;
            }

            ul {
                margin-top: 25px;
                margin-left: 10px;
                
                li {
                    list-style-image: url('../images/checkmark.png');
                    @include fontAssignment(400, 18px);
                    margin-bottom: 20px;
                    padding-right: 20px;
                    line-height: 1.5;
    
                    a {
                        color: $peach;
                    }
                }
            } 
            
        }

        .box1 {
            &--header {
                background: $burgundy;
            }

            button {
                background: none;
                border: 2px solid $burgundy;
                border-radius: 30px;
                color: $burgundy;
                padding-top: 10px;
                padding-bottom: 10px;
                @include fontAssignment(700, 18px);
                text-transform: uppercase;
                width: 90%;
                margin-top: 15px;

                + a {
                    color: $burgundy;
                    display: block;
                    @include fontAssignment(700, 14px);
                    text-transform: uppercase;
                    margin: 20px 0 30px;
                }
            }
        }

        .box2 {
            &--header {
                background: $oceanBlue;
            }

            button {
                background: none;
                border: 2px solid $oceanBlue;
                border-radius: 30px;
                color: $oceanBlue;
                padding-top: 10px;
                padding-bottom: 10px;
                @include fontAssignment(700, 18px);
                text-transform: uppercase;
                width: 90%;
                margin-top: 41px;

                + a {
                    color: $oceanBlue;
                    display: block;
                    @include fontAssignment(700, 14px);
                    text-transform: uppercase;
                    margin: 20px 0;
                }
            }
        }

        .box3 {
            &--header {
                background: $pineGreen;
            }

            button {
                background: none;
                border: 2px solid $pineGreen;
                border-radius: 30px;
                color: $pineGreen;
                padding-top: 10px;
                padding-bottom: 10px;
                @include fontAssignment(700, 18px);
                text-transform: uppercase;
                width: 90%;
                margin-top: 69px;

                + a {
                    color: $pineGreen;
                    display: block;
                    @include fontAssignment(700, 14px);
                    text-transform: uppercase;
                    margin: 20px 0;
                }
            }
        }

        .box2, .box3 {
            &--header {
                margin-top: 34px;
            }
        }
    }

    .lp-section {
        text-align: center;
        margin: 150px 0;

        img {
            display: inline-block;
        }

        &--image {
            margin-bottom: 20px;
        }

        h3 {
            @include fontAssignment(700, 34px);
            color: $pineGreen;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        p {
            @include fontAssignment(400, 18px);
            width: 250px;
            margin: 0 auto;
        }
    }
}

footer {
    background: url('../images/footer-bg.svg');
    background-size: cover;
    background-position: bottom left;

    .mobile-social {
        display: none;
    }

    ul li {
        list-style-type: none;
        
    }

    .w-container .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
        margin-bottom: 150px;

        .social-media {
            grid-column: 1 / span 1;
            text-align: center;

            &> a {
                display: inline-block;
                color: $peach;
                border: 2px solid $peach;
                text-decoration: none;
                padding: 15px 0;
                text-transform: uppercase;
                @include fontAssignment(700, 14px);
                width: 275px;
                text-align: center;
                border-radius: 30px;
            }

            ul li {
                float: left;
                width: 45px;
                margin-right: 20px;
                margin-top: 25px;

                &:first-of-type {
                    margin-left: 8px;
                }
            }
        }

        .social-media, .nav1, .nav2, .nav3 {
            grid-row: 1 / span 2;
        }

        .nav1, .nav2, .nav3 {
            @include fontAssignment(400, 18px);

            a {
                text-decoration: none;
                color: $black;
            }

            ul {
                margin: 0;

                li {
                    margin-bottom: 25px;
                }
            }
        }
        
        .nav1 {
            grid-column: 2 / span 1;
        }

        .nav2 {
            grid-column: 3 / span 1;
        }

        .nav3 {
            grid-column: 4 / span 1;
        }

        .copyright {
            grid-column: 5 / span 1;
            grid-row: 2 / span 1;
            text-align: center;
            @include fontAssignment(400, 12px);

            img {
                margin-top: -50px;
                width: 120px;
            }
        }
    }

    .bottom-logo {
        text-align: center;
        @include fontAssignment(400, 18px);
        color: $gray;
        padding-bottom: 75px;

        img {
            width: 110px;
        }
    }
}

// Responsive design

@media (max-width: 767px) {
    header {
        padding-top: 10px;
        border-bottom: 1px solid $black;
        padding-bottom: 10px;

        .w-container div {
            .js-nav-toggle {
                display: block;
                padding-top: 5px;
            }
        }
    }

    nav {
        display: none;
    }

    main {
        .hero-header {
            background: url('../images/lp-start-hero-small-comp.jpg');
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 0;
            padding-bottom: 800px;
        }

        .pricing {
            background-position: top;
            background-size: cover;
        }

        .pricing .grid-container {
            grid-template-columns: 1fr;

            .box2 button, .box3 button {
                margin-top: 15px;
            }
        }
    }

    footer {
        background: none;

        .desktop-social {
            display: none;
        }

        .w-container .grid-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, auto);

            .social-media, .nav1, .nav2, .nav3, .copyright {
                grid-column: 1 / span 1;
                text-align: center;
                margin-left: -45px;
            }

            .social-media {
                grid-row: 1 / span 1;

                &> a {
                    margin-left: 35px;
                }
            }

            .nav1, .nav2, .nav3, .copyright {
                margin-top: 40px;
            }

            .nav1 {
                grid-row: 2 / span 1;
            }

            .nav2 {
                grid-row: 3 / span 1;
            }

            .nav3 {
                grid-row: 4 / span 1;
            }

            .copyright {
                grid-row: 5 / span 1;
                margin-left: 10px;
                @include fontAssignment(400, 15px);

                img {
                    margin-top: 0;
                    margin-left: -10px;
                }

                .mobile-social {
                    display: block;
                    
                    li {
                        float: left;
                        width: 45px;
                        margin-right: 20px;
                        margin-top: 30px;

                        img {
                            width: 45px;
                            margin-left: 0;
                        }

                        &:first-of-type {
                            margin-left: 225px;
                        }
                    }
                }
            }
        }
    }

}